[submodule "Spring2024Game\\MatchGame\\Assets\\Scripts"]
	path = Spring2024Game\\MatchGame\\Assets\\Scripts
	url = https://github.com/I-LoveBees/Scripts
[submodule "MatchGame/Assets/Scripts"]
	path = MatchGame/Assets/Scripts
	url = https://github.com/I-LoveBees/Scripts
